:root {
	--accent-color: #800000;
	--gradient-color: #f6bb73;
	--light_menu: white;
	--mid_menu: antiquewhite;
	--dark_menu: black;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: calc(15px + .2vw);
	width: min(95%, 1024px);
	line-height: 1.5;
	margin: auto;
	border: 2px solid var(--accent-color);
}

h1, h2, h3, p, ul {
	padding: .25em 0;
}

a:hover, a:focus {
	font-style: italic;
	color: var(--accent-color);
}

h1 { 
	font-size: 150%;
}
h2 {
	font-size: 130%;
	color: var(--accent-color);
}
h3 {
	font-size: 105%;
}

ul {
	margin-left: 2em;
}

header {
	line-height: 1.2;
	border-bottom: 2px solid var(--accent-color);
	background-image: linear-gradient(30deg, var(--gradient-color) 0%, white 30%, white 65%, var(--gradient-color) 100%);
	text-align: center;
}
header h2 {
	font-size: 175%;
	padding: .5em 0 0 0;
}
header h3 {
	font-size: 130%;
	font-style: italic;
	padding-bottom: 1em;
}

header img {
	display: none;
}

.navbar {
	position: relative;
	background-color: var(--accent-color);
}

.navbar a {
	display: block;
	padding: 1em;
	text-decoration: none;
	margin: 0 2px 2px 0;
}
.navbar a:link, .navbar a:visited {
	color: var(--light_menu);
}
.navbar a:hover, .navbar a:focus, .navbar a.current {
	background-color: var(--mid_menu);
	color: var(--dark_menu);
}
.navbar ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#menu-toggle {
	display: none;
}

.menu-btn {
	display: block;
	color: white;
	font-size: 1.5em;
	padding: 0.5em;
	cursor: pointer;
	text-align: left;
}

.menu {
	display: none;
	position: absolute;
	left: 0;
	width: 40%;
	background-color: var(--accent-color);
	z-index: 10;
}

#menu-toggle:checked ~ .menu {
	display: block;
}
#menu-toggle:checked ~ .menu-btn::before {
	content: "\2715";
}
#menu-toggle:not(:checked) ~ .menu-btn::before {
	content: "\2630";
}

.submenu {
	position: relative;
}
.submenu > a::after {
	content: " \25B8";
}

.dropdown {
	display: none;
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	background-color: var(--accent-color);
}

.submenu:hover > .dropdown {
	display: block;
}
.dropdown li a {
	margin: 2px;
}

main {
	display: flex;
	flex-direction: column-reverse;
	padding: 0 1em 1em;
}

main blockquote {
	font-style: italic;
	padding-left: 1em;
}

main h3 + img {
	width: clamp(40px, 50%, 75px);
	border: 4px double var(--accent-color);
	border-radius: 10px;
}

section { 
    border-bottom: 2px solid var(--accent-color); 
}

section img {
	width: clamp(100px, 50%, 250px);
	float: right;
	margin: 0 1em .25em;
}

aside {
	padding-right: .5em;
}

footer {
	background-color: var(--accent-color);
}
footer p {
	text-align: center;
	color: white;
	padding: 1em 0;
}

.featured {
	border-top: 2px solid var(--accent-color);
	border-bottom: 2px solid var(--accent-color);
	padding: .5em 0 1em;
}
.large {
	font-size: 125%;
}

@media (min-width: 480px) {
	header {
		text-align: left;
	}
	header img {
		display: block;
		width: clamp(40px, 15%, 80px);
		float: left;
		margin: .75em 1em;
	}
}

@media (min-width: 600px) {
	.menu-btn {
		display: none;}
	.menu {
		display: flex;
		position: relative;
		width: 100%;
	}
	.menu li {
		flex-basis: 20%;
		text-align: center;
	}
	.menu > li:first-child a { margin-left: 0; }
	.menu > li:last-child a { margin-right: 0; }

	.submenu > a::after {
		content: " \25BE";
	}
	.dropdown {
		top: auto;
		left: 0;
		right: 0;
	}
    .dropdown li a {
		margin: 0 2px 2px;
	}

	main {
		flex-direction: row;
	}
	section {
		flex-basis: 75%;
		padding-left: .5em;
		border-bottom: none;
	}
	aside {
		flex-basis: 25%;
		padding-right: .5em;
	}
    .navbar a {
		margin: 0 1px 2px;
	}
}